/* @import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"); */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html,
/* body {
  max-width: 100vw;
  overflow-x: hidden;
} */
html {
  font-size: 75%;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden !important; /* prevent inner scrollbars */
  height: 100%;
  width: 100%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Switzer", sans-serif !important;
}
body {
  font-family: "Switzer", sans-serif !important;
}
.zoomed-layout {
  transform: scale(0.9);
  transform-origin: top left;
  width: 111.1111%;
  height: 111.1111%;
  /* overflow-x: hidden; to avoid scroll bar */
  /* overflow-x: hidden; */
  overflow: "auto";
}
